<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Pet Details</title>
  </head>
  <body>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold underline">
          Is a {{ lifestyle_fit }} the right match for you?
        </h1>
        <section>
          <ul class="list-disc pl-5">
          {% for pet in matching_pets %}
            <li class="mb-2">
            <strong>{{ pet }}</strong>
            </li>
            </ul>
          {% endfor %}
        </section>
    </div>
  </body>
</html>